* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    background-color: #eee;
}

a, a:visited {
    text-decoration: none;
    color: cornflowerblue;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    padding-left: 4px;
    padding-right: 4px;
}

h3 {
    font-size: 1.7em;
    padding: .25em .5em;
    border-left: solid 5px #7db4e6;
    background-color: #f4f4f4;/*背景色*/
    /* border-bottom: solid 2px #ccc; */
}

h4 {
    font-size: 1.5em;
    padding: .25em .5em;
    border-left: solid 5px #7db4e6;
    background-color: #f4f4f4;/*背景色*/
    /* border-bottom: solid 1px #ccc; */
}

h5 {
    font-size: 1.3em;
}

h6 {
    font-size: 1.1em;
}

.fade-in-hidden {
    visibility: hidden;
    opacity: 0;
}

.fade-in-show {
    visibility: visible;
    opacity: 1;
    transition: .5s;
}

#articleTitle {
    padding: 10px 0;
}

#articleBody h4 {
    margin: 1.5em 0px 10px 0px;
}

#articleBody h5, #articleBody h6 {
    margin: 10px 10px 5px 10px;
}

#articleBody p, #articleBody li {
    line-height: 2;
    margin: 0 10px;
}

#articleBody li {
    line-height: 2;
    padding-left: 10px;
}

#loadingMessage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-main {
    width: max-content;
    margin: auto;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
    background-color: white;
    margin-top: 20px;
    padding: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.full {
    width: 100%;
    height: 100%;
}

.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
}

.dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dot-flashing {
    0% {
        background-color: #9880ff;
    }
    50%, 100% {
        background-color: #ebe6ff;
    }
}
